[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=/etc/default/kube-apiserver
ExecStart=/usr/local/bin/kube-apiserver \\
  --admission-control=ADMISSION-CONTROL \\
  --advertise-address=ADVERTISE-ADDRESS \\
  --allow-privileged=ALLOW-PRIVILEGED \\
  --apiserver-count=APISERVER-COUNT \\
  --audit-log-maxage=AUDIT-LOG-MAXAGE \\
  --audit-log-maxbackup=AUDIT-LOG-MAXBACKUP \\
  --audit-log-maxsize=AUDIT-LOG-MAXSIZE \\
  --audit-log-path=AUDIT-LOG-PATH \\
  --authorization-mode=AUTHORIZATION-MODE \\
  --bind-address=BIND-ADDRESS \\
  --client-ca-file=CLIENT-CA-FILE \\
  --enable-swagger-ui=ENABLE-SWAGGER-UI \\
  --etcd-cafile=ETCD-CAFILE \\
  --etcd-certfile=ETCD-CERTFILE \\
  --etcd-keyfile=ETCD-KEYFILE \\
  --etcd-servers=ETCD-SERVERS \\
  --event-ttl=EVENT-TTL \\
  --experimental-encryption-provider-config=EXPERIMENTAL-ENCRYPTION-PROVIDER-CONFIG \\
  --insecure-bind-address=INSECURE-BIND-ADDRESS \\
  --kubelet-certificate-authority=KUBELET-CERTIFICATE-AUTHORITY \\
  --kubelet-client-certificate=KUBELET-CLIENT-CERTIFICATE \\
  --kubelet-client-key=KUBELET-CLIENT-KEY \\
  --kubelet-https=KUBELET-HTTPS \\
  --runtime-config=RUNTIME-CONFIG \\
  --service-account-key-file=SERVICE-ACCOUNT-KEY-FILE \\
  --service-cluster-ip-range=SERVICE-CLUSTER-IP-RANGE \\
  --service-node-port-range=SERVICE-NODE-PORT-RANGE \\
  --tls-ca-file=TLS-CA-FILE \\
  --tls-cert-file=TLS-CERT-FILE \\
  --tls-private-key-file=TLS-PRIVATE-KEY-FILE \\
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
