[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=/etc/default/kube-controller-manager
ExecStart=/usr/local/bin/kube-controller-manager \\
  --address=${ADDRESS} \\
  --cluster-cidr=${CLUSTER_CIDR} \\
  --cluster-name=${CLUSTER_NAME} \\
  --cluster-signing-cert-file=${CLUSTER_SIGNING_CERT_FILE} \\
  --cluster-signing-key-file=${CLUSTER_SIGNING_KEY_FILE} \\
  --leader-elect=${LEADER_ELECT} \\
  --master=${MASTER} \\
  --root-ca-file=${ROOT_CA_FILE} \\
  --service-account-private-key-file=${SERVICE_ACCOUNT_PRIVATE_KEY_FILE} \\
  --service-cluster-ip-range=${SERVICE_CLUSTER_IP_RANGE} \\
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target