[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=/etc/default/kube-scheduler
ExecStart=/usr/share/kubernetes-server/server/bin/kube-scheduler \\
  --leader-elect=${LEADER_ELECT} \\
  --master=${MASTER} \\
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target