[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=cri-containerd.service
Requires=cri-containerd.service

[Service]
EnvironmentFile=/etc/default/kubelet
ExecStart=/usr/share/kubernetes-server/server/bin/kubelet \
  --allow-privileged=${ALLOW_PRIVILEGED} \
  --anonymous-auth=${ANONYMOUS_AUTH} \
  --authorization-mode=${AUTHORIZATION_MODE} \
  --client-ca-file=${CLIENT_CA_FILE} \
  --cloud-provider=${CLOUD_PROVIDER} \
  --cluster-dns=${CLUSTER_DNS} \
  --cluster-domain=${CLUSTER_DOMAIN} \
  --container-runtime=${CONTAINER_RUNTIME} \
  --container-runtime-endpoint=${CONTAINER_RUNTIME_ENDPOINT} \
  --image-pull-progress-deadline=${IMAGE_PULL_PROGRESS_DEADLINE} \
  --kubeconfig=${KUBECONFIG} \
  --network-plugin=${NETWORK_PLUGIN} \
  --register-node=${REGISTER_NODE} \
  --runtime-request-timeout=${RUNTIME_REQUEST_TIMEOUT} \
  --tls-cert-file=${TLS_CERT_FILE} \
  --tls-private-key-file=${TLS_PRIVATE_KEY_FILE} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target